.hero-container {
    width: 100%;
    max-width: 100%;
    background-size: cover;
    min-height: 500px;
    padding: 3em 4em;
}
.hero-btn {
    padding: 10px 20px;
    background-color: slateblue;
    color: white;
    border-radius: 40px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}