.hero-container {
    max-width: 100%;
    background-size: cover;
    padding: 3em 4em;
    margin-bottom: 1em
}
.hero-header,
.hero-subtext,
.hero-btn {
    text-align: center;
    color: #fff;
}
.hero-btn:visited {
    color: #fff;
}
.hero-btn {
    padding: 10px 20px;
    background-color: slateblue;
    border-radius: 40px;
    display: inline-block;
    min-width: 50px;
    margin-left: auto;
    margin-right: auto;
}
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}