.text-on-img {
  min-height: 200px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.text-on-img h3 {
  color: white;
  text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}